@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
.shop{
   background: rgb(243, 243, 243);
   height: 100vh;
   width: 100%;
}
.shop a{
   font-weight: 800;
   color: #111111;
   font-size: 1.5em;
   font-family: 'Sigmar One', cursive;
}
h1{
   color: rgb(110, 110, 110);
   text-align: center;
}
.shop a:hover{
   color: black;
}
.shop__button-container{
   padding: 30px;
   display: flex;
   flex-wrap: wrap;
   place-items: center;
   align-items: center;
   justify-content: center;
   gap: 5px;
   width: 100%;
}
button.shop__buttons{
   order: none;
   margin: 10px;
   cursor: pointer;
   background-color: #ff0;
   padding: .89rem 1.5em;
   text-decoration: none;
   transition: all .8s ease;
   DISPLAY: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 500px;
   border: none;
}
button.shop__buttons:hover{
   transform: scale(1.03);
}